

    <html>

        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
          </head>
<body>
    

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>










<form method="POST"  enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table table-bordered table-light 1table" >
        <tr>
            <td>Username</td>
            <td><input type="text" name="Username"  ></td>
        </tr>
        <tr>
            <td>Lastname</td>
            <td><input type="text" name="Lastname"  ></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" name="Email"  ></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="text" name="Age"  ></td>
        </tr>
        <tr>
            <td>password</td>
            <td><input type="text" name="City"  ></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td><input type="text" name="Phone"  ></td>
        </tr>
        
        <tr>
          <td> captcha <input type="text"  readonly id="capt">
          </td>
          <td><input type="text"  id="textinput" ></td>
      </tr>
      



    </table>
    <button onclick="validcap()">register</button>
    
    
</form>

  <h1>captcha not visible </h1>
    <button onclick="cap()"> refresh </button> 

 
<script type="text/javascript">
  
  function cap(){
     var alpha = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'];
     
     var a = alpha[Math.floor(Math.random() * 10)];
     var b = alpha[Math.floor(Math.random() * 10)];
     var c = alpha[Math.floor(Math.random() * 10)];
     var d = alpha[Math.floor(Math.random() * 10)];

     var final = a+b+c+d;

     document.getElementById("capt").value=final;
    }
    function validcap(){
      var str1 = document.getElementById("capt").value;
      var str2 = document.getElementById("textinput").value;
      if (str1==str2){
        alert("data updated");
        return true;
      }else{
        alert ("enter valid captcha");
        return false;
      }
    }
</script>

</body>
</html>

