<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projects</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Media
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">about</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        {% if request.session.Email %}
        
        <i class="btn btn-outline-success my-2 my-sm-0" type="submit"> {% if u.Images %}
          <img src="{{u.Images.url}}" alt="" height="50px" width="50px">
          
          {% endif %}</i>
          <a href="{% url 'logo' %}" class=" btn btn-outline-success my-2 my-sm-0 ">logout</a>
          {% endif %}
      </form>
    </div>
  </nav>


    <center>
    <h1>vtroo</h1>
    
    {% if request.session.Email %}
    <b>welcome</b>
       {{request.session.Username}}<br>
     {{request.session.age}}<br>
     

     <a href="/view/{{request.session.Age}}">view profile</a>
     
     
     
      {% else %}

    <a href="{% url 'register' %}">register</a>
      <a href="{% url 'adminlogin' %}"> Admin login</a>
     <a href="{% url 'login' %}">User login</a>
     {% endif %}
 
       


    </center>
</body>

</html>


